/* Global Styles */

@font-face {
  font-family: 'ChenYuluoyan';
  src: url('/ChenYuluoyan-2.0-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: #333;
}

#__nuxt,
#app {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}